# To run the gate
LOCATION=us-central1
GCP_PROJECT_ID=your-project-id
## Use talexiano/quality-gate-demo:latest to repeat actions
## from the workshop https://www.youtube.com/watch?v=hor1HypbNHQ
PUBLIC_IMAGE_URI=talexiano/quality-gate-demo:latest
CLOUD_RUN_SERVICE_NAME=quality-gate-demo
RULES_FILE=rules.md
MODEL_ID=gemini-2.5-flash

# To build the gate
DOCKER_USERNAME=your-dockerhub-username
DOCKER_IMAGE_NAME=quality-gate-demo
DOCKER_IMAGE_TAG=latest
